<h4> {{msg}}</h4>

<hr>
<h1> {{id}} {{nome}} || {{log.data}}</h1>
<hr>



<form method='post' action='/merge'>
	<input id="nome" name="nome" value={{nome}} /> <br/>
	<input id="_id" name="_id" value={{id}} /> <br/>
	
	<button>Enviar</button>
</form>